{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row">
  {% for product in products%}
    <div class="col-lg-4">
        <div class="card" style="margin-bottom: 3%;" >
            <img  class="" src="{{product.imageURL}}" width="300px" height="200px" alt="">
            <div class="card-body">
              <h5 class="card-title"> <strong>{{product.name}}</strong> </h5>
              <button data-product={{product.id}} data-action="add" class=" card-text btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

              <a href="#" class="btn btn-outline-success">View</a>
              <h4 style="display: inline-block;  "> ${{product.price | floatformat:2}}</h4>

            </div>
          </div>
    </div>
    {% endfor %}
</div>
  

{% endblock%}